.find-objects {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;

  &__order-by {
    width: 20%;
  }
  &__search {
    width: 40%;
  }
  mat-form-field {
    margin-right: 1rem;
  }
  .mat-form-field-wrapper{
    padding-bottom: 0;
  }

  .mat-flat-button {
    padding: .5rem 2.6rem;
    margin: .5rem;
  }
}

