<div class="find-objects">
  <mat-form-field appearance="outline" class="find-objects__order-by">
    <mat-label>Order by: Type</mat-label>
    <mat-select [formControl]="orderType" >
      <mat-option *ngFor="let type of sortByTypes" [value]="type.id">
        {{type.type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="find-objects__search">
    <mat-label>Search keyword...</mat-label>
    <input [formControl]="searchKeyword" matInput placeholder="Placeholder">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <button mat-flat-button color="primary" class="search-button">Submit</button>
</div>
