<div class="information-dialog-wrapper">
  <div class="information-dialog__header">
    <div class="information-dialog__header__title">{{artObject.title}}</div>
    <div matDialogClose class="information-dialog__header__close-btn">
      <img src="assets/images/close-btn.svg" alt="Close"/>
    </div>
  </div>
  <div class="information-dialog__content" mat-dialog-content>
    <div class="information-dialog__content__info">
      <mat-card class="card">
        <img mat-card-image
             tabindex="-1"
             [src]="artObject.webImage.url"
             alt="{{artObject.title}}">
      </mat-card>
      <div class="information-dialog__content__long-title">
        <p>{{artObject.longTitle}}</p>
      </div>
    </div>
  <div class="information-dialog__buttons">
    <div class="information-dialog__buttons--add-to-fav">
      <button mat-stroked-button
              color="warn"
              aria-label="Favorite"
              class="information-dialog__buttons--add-to-fav-btn">
      <mat-icon>favorite</mat-icon>Add to fav list</button>
    </div>
    <div class="information-dialog__buttons--actions-btn">
      <button (click)="navigateToDetailsPage(artObject.objectNumber)"
              matDialogClose
              mat-raised-button
              color="primary"
              class="flat-primary-btn">View more details</button>
      <button matDialogClose
              mat-stroked-button
              color="primary"
              class="flat-primary-btn">Close</button>
    </div>
  </div>
</div>
