<div class="main-page-wrap">
  <div class="main-page-content">
    <app-art-objects-filter></app-art-objects-filter>
    <div class="cards-container">
      <mat-card *ngFor="let object of artObjects$ | async"
                (click)="openInformationDialog(object)"
                class="card">
        <img mat-card-image
             tabindex="-1"
             [src]="object?.webImage?.url"
             alt="{{object?.title}}">
        <div class="card-content">
          <p>{{object.title}}</p>
        </div>
      </mat-card>
    </div>
    <mat-paginator [length]="1000"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 50, 100]">
    </mat-paginator>
  </div>
</div>
